body {                                                         /*Estilo del cuerpo principal*/
    font-family: Arial, sans-serif;                            /*Tipo de letra*/
    background-color: rgb(245, 222, 181);                    /*Color del fondo*/
    margin: 0;                                                 /*Elimina todo el margen exterior*/
    padding: 0;                                                /*Elimina todo el relleno interior*/
}

.menu {                                                        /*Estilo del menú en el header*/
    display: flex;                                             /*Hace que el menú sea flexible*/
    flex-wrap: wrap;                                           /*Los elementos pueden pasar a la siguiente línea cuando ya no caben*/
    justify-content: center;                                   /*Justifica el contenido en el centro*/
    align-items: center;                                       /*Alinea los objetos en el centro*/
    gap: 10px;                                                 /*Margen de 10 px entre cada objeto*/
    background-color: rgb(231, 112, 52);
    padding: 12px 20px;                                        /*12px de margen arriba y abajo, y 20px a izquierda y derecha*/
}

.menu a {                                                      /*Estilo de los enlaces en el menú*/
  color: rgb(255, 255, 255);                                 /*Color de la letra*/
  text-decoration: none;                                       /*Para que los enlaces no esten subrayados*/
  background-color: #333;
  border-radius: 10px;                                         /*Redondear las cajas*/
  padding: 8px 14px;
  text-align: center;
  font-size: 16px;                                             /*Tamaño de la letra*/
  transition: 0.3s;                                            /*Transicion del hoover*/
}

.menu a:hover {                                                /*Para cuando el cursor esta encima de los enlaces*/
  transform: scale(1.05);                                      /*Aumenta el tamaño*/
  background-color: aquamarine;                              
  color: black;
}

main {                                                         /*Estilo de la caja central principal*/
  display: flex;
  flex-direction: column;                                      /*Se colocan uno debajo del otro*/
  align-items: center;
  padding: 40px 20px;
}

#naranja {                                                     /*Cambia el color a los elementos con este id*/
  color: rgb(231, 112, 52);
}

.titulo {                                                      /*Estilo del titulo*/
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;                                         /*Margen inferior*/
}

.direccion {                                                   /*Estilo del subtitulo que contiene la direccion*/
  font-size:  1.1rem;
  color: #444;
  text-align: center;
  margin-bottom: 30px;
}

.info {                                                        /*Estilo de la caja interna del main*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 90%;                                                  /*Indica el ancho que debe ocupar en objeto sobre su caja madre*/
  max-width: 1100px;                                           /*Indica en ancho máximo que puede tener*/
}

#tlfn, #email {                                                /*Hacer que no salgan subrayados*/
  text-decoration: none;
}

.columna_izquierda, .columna_derecha {                         /*Estilo de las 2 columnas principales*/
  background-color: rgb(255, 248, 235); 
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);                    /*Sombra de la caja*/
  padding: 20px;
  flex: 1 1 300px;                                             /*Este elemento empieza midiendo 300px, pero puede crecer si sobra espacio y encogerse si falta, en proporción 1 con otros elementos flex*/
}

.imagen_biblioteca {                                           /*Estilos de la imagen */
  width: 100%;
  border-radius: 10px;
  max-width: 350px;
  display: block;                                              /*Hace que el elemento ocupe todo el ancho disponible y se coloque en una nueva línea*/
  margin: 15px auto;
}

.servicios h2, .accesibilidad h2 {                             /*Estilo de los subtitulos h2 en las dos cajas*/
  color: rgb(231, 112, 52);
  margin-bottom: 10px;
  text-align: center;
}

.servicios ul {                                                /*Estilo de la lista desordenada en la caja*/
  list-style: none;                                            /*Lista sin decoraciones*/
  padding: 0;
}

.servicios li {                                                /*Estilo de las lineas en la lista*/
  margin: 6px 0;
  font-weight: bold;                                           /*Negrita*/
  color: #444;
}

.mapa iframe {                                                 /*Estilo del mapa interactivo*/
  width: 100%;
  height: 350px;                                               /*Altura del mapa*/
  border-radius: 10px;
  margin-bottom: 15px;
}

.gurekin {                                                     /*Estilo de la caja con normas y una foto*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.normas {                                                      /*Estilo de la caja normas*/
  background-color: rgb(255, 248, 235);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.normas h2 {                                                  /*Estilo del subtitulo h2 en la caja*/
  font-size: 1.6rem;
  color: rgb(231, 112, 52);
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid rgb(231, 112, 52);
  padding-bottom: 8px;
}

.normas ul {                                                 /*Estilo de la lista de normas*/
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.normas li {                                                /*Estilo de las lineas de la lista de normas*/
  background-color: #fff;
  margin: 10px 0;
  padding: 12px 15px;
  border-left: 5px solid rgb(231, 112, 52);               /*Efecto de borde en la izquierda*/
  border-right: 5px solid rgb(231, 112, 52);              /*Efecto de borde en la derecha*/
  border-radius: 8px;
  font-weight: 500;
  color: #333;
}

.gurekin_img {                                              /*Estilo de la caja que contiene la imagen*/
  flex: 1;
  min-width: 280px;
  display: flex;
  justify-content: center;
}

.gurekin_img img {                                          /*Estilo de la imagen en la caja gurekin*/
  flex: 1;
  max-width: 80%;
  border-radius: 10px;
}

.menu_inferior {                                            /*Estilo para el menú inferior que tiene todas las páginas*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #333;
  padding: 14px 10px;
}

.menu_inferior a {                                         /*Estilo de los enlaces en el menú inferior*/
  color: #f9f9f9;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu_inferior a:hover {                                   /*Estilo de los enlaces en el menú inferior con el cursor encima*/
  background-color: rgb(231, 112, 52);
  color: black;
}

footer {                                                  /*Estilo del pie de página*/
  background-color: rgb(231, 112, 52);
  color: black;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

