body {
  font-family: Arial, sans-serif;
  background: rgb(245, 222, 181);
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgb(231, 112, 52);
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.menu a:hover {
  transform: scale(1.05);
}

.guia_menu {
  background-color: rgb(171, 229, 232);
  border-radius: 10px;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.guia_menu:hover {
  transform: scale(1.05);
  background-color: rgb(144, 211, 214);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.seccion {
  font-size: 22px;
  font-weight: normal;
  color: #444;
  margin-bottom: 10px;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 85%;
  max-width: 800px;
  background-color: rgb(255, 248, 235);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 14px;
  font-size: 16px;
}

td {
    color: rgb(231, 112, 52);
    font-weight: bold;
}

th {
  background-color: rgb(231, 112, 52);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lista-campus {
  display: flex;
  flex-wrap: wrap;        /* Para que se acomoden en varias filas si es necesario */
  justify-content: center; /* Centra los elementos */
  gap: 1rem;              /* Espacio entre elementos */
  margin: 1% 0;
}

.lista-campus p {
  color: rgb(231, 112, 52);
  font-weight: bold;
  background-color: rgb(255, 248, 235);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-size: 16px;
  text-align: center;
  flex: 1 1 200px;       /* Se adaptan al ancho disponible */
  max-width: 300px;      /* Para que no crezcan demasiado */
}

footer {
  background-color: rgb(231, 112, 52);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  font-weight: bold;
}





