body {
    font-family: Arial, sans-serif;
    background: rgb(245, 222, 181);
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    background-color: rgb(231, 112, 52);
    padding: 12px 20px;
}

.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #333;
  border-radius: 10px;
  padding: 8px 14px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  transform: scale(1.05);
  background-color: aquamarine;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

#excepto {
  font-size: 22px;
  font-weight: normal;
  color: #444;
  margin-bottom: 10px;
}

#titulo {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 85%;
  max-width: 800px;
  background-color: rgb(255, 248, 235);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

th, td {
  text-align: center;
  border: 1px solid #ccc;
  padding: 14px;
  font-size: 16px;
}

td {
    color: rgb(231, 112, 52);
    font-weight: bold;
}

th {
  background-color: rgb(231, 112, 52);
  color: rgb(0, 0, 0);
}

.festivos {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center; 
  gap: 1rem;              
  margin: 1% 0;
}

.festivos p {
  color: rgb(231, 112, 52);
  font-weight: bold;
  background-color: rgb(255, 248, 235);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-size: 16px;
  text-align: center;
  flex: 1 1 200px;       
  max-width: 300px;      
}

.menu_inferior {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #333;
  padding: 14px 10px;
}

.menu_inferior a {
  color: #f9f9f9;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu_inferior a:hover {
  background-color: rgb(231, 112, 52);
  color: black;
}

footer {
  background-color: rgb(231, 112, 52);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1%;
  font-weight: bold;
}
