body {
    font-family: Arial, sans-serif;
    background: rgb(245, 222, 181);
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    background-color: rgb(231, 112, 52);
    padding: 12px 20px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    transform: scale(1.05);
}

.guia_menu {
    background-color: rgb(171, 229, 232);
    border-radius: 10px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.guia_menu:hover {
    transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.titulo {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 10px;
}

.direccion {
  font-size: 18px;
  color: #444;
  text-align: center;
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 90%;
  max-width: 1100px;
}

.columna-izquierda, .columna-derecha {
  background-color: rgb(255, 248, 235);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  flex: 1 1 250px;
}

.imagen-biblioteca {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
}

.servicios h2, .horario h2, .accesibilidad h2 {
  color: rgb(231, 112, 52);
  margin-bottom: 10px;
}

.servicios ul {
  list-style: none;
  padding: 0;
}

.servicios li {
  margin: 5px 0;
  font-weight: bold;
  color: #444;
}

.mapa img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

footer {
  background-color: rgb(231, 112, 52);
  color: black;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  font-weight: bold;
}
