body {
    font-family: Arial, sans-serif;
    background: rgb(245, 222, 181);
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    background-color: rgb(231, 112, 52);
    padding: 12px 20px;
}

.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #333;
  border-radius: 10px;
  padding: 8px 14px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  transform: scale(1.05);
  background-color: aquamarine;
  color: black;
}

.form_registro {
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0px 6px 15px black;
    text-align: center;
    margin: 50px auto; 
}

.form_registro h2 {
    margin-bottom: 20px;
    color: rgb(231, 112, 52);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin: 8px 0 5px;
    font-weight: bold;
    color: rgb(231, 112, 52);
}

input {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin-bottom: 10px;
    
}

button {
    margin-top: 10px;
    padding: 12px;
    background-color: rgb(231, 112, 52);
    border: none;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.menu_inferior {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #333;
  padding: 14px 10px;
}

.menu_inferior a {
  color: #f9f9f9;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu_inferior a:hover {
  background-color: rgb(231, 112, 52);
  color: black;
}

footer {
  background-color: rgb(231, 112, 52);
  color: black;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

