body {
    font-family: Arial, sans-serif;
    background: rgb(245, 222, 181);
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    background-color: rgb(231, 112, 52);
    padding: 12px 20px;
}

.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #333;
  border-radius: 10px;
  padding: 8px 14px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}

.menu a:hover {
  transform: scale(1.05);
  background-color: aquamarine;
  color: black;
}

.populares {
  text-align: center;
  padding: 2%;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  margin-top: 3%;
}

#Autor {
  color: rgb(231, 112, 52);
}

.libro {
  background: rgb(255, 248, 235);
  border: 1px solid #ccc;
  border-radius: 10px;
  flex: 1 1 22%;       
  max-width: 230px;    
  min-width: 180px;    
  padding: 2%;
  transition: 0.3s;
  text-align: center;
}

h3 {
    color: rgb(231, 112, 52);
}

.libro:hover {
  transform: scale(1.05);
}

.libro img {
  width: 100%;        
  height: auto;
  border-radius: 8px;
  margin-bottom: 6%;
}

.menu_inferior {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #333;
  padding: 14px 10px;
}

.menu_inferior a {
  color: #f9f9f9;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.menu_inferior a:hover {
  background-color: rgb(231, 112, 52);
  color: black;
}

footer {
  background-color: rgb(231, 112, 52);
  color: black;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
