body {
    font-family: Arial, sans-serif;
    background: rgb(245, 222, 181);
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    background-color: rgb(231, 112, 52);
    padding: 12px 20px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    transform: scale(1.05);
}

.guia_menu {
    background-color: rgb(171, 229, 232);
    border-radius: 10px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.guia_menu:hover {
    transform: scale(1.05);
}

.populares {
  text-align: center;
  padding: 2%;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  margin-top: 3%;
}

.libro {
  background: rgb(255, 248, 235);
  border: 1px solid #ccc;
  border-radius: 10px;
  flex: 1 1 22%;       /* Se ajusta dependiendo del espacio disponible */
  max-width: 230px;    /* Limita el máximo en pantallas grandes */
  min-width: 180px;    /* Evita que se encoja demasiado en móviles */
  padding: 2%;
  transition: 0.3s;
  text-align: center;
}

h3 {
    color: rgb(231, 112, 52);
}

.libro:hover {
  transform: scale(1.05);
}

.libro img {
  width: 100%;        
  height: auto;
  border-radius: 8px;
  margin-bottom: 6%;
}

footer {
  background-color: rgb(231, 112, 52);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 18px 10px;
  margin-top: 40px;
}